*{
    margin: 0px;
    padding: 0px;
}
h1{text-align: center;}
.card{
    width: 350px;
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    font-size: 0px;
}
.card:hover{
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);

}
.cal-head #result{
    width: 335px;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    padding: 0px 5px;
    letter-spacing: 3px;
}
.btn{
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size: 16px;
    background-color: #1F2326;
    color: white;
}
.btn-style{
    background-color:#5F4bb6 ;
}
.btn:hover{background-color: rgb(238, 172, 92);}